html {
  scroll-behavior: smooth;
}
* {
  font-family: "Oswald", sans-serif;
}
nav {
  background-color: black !important;
}
#landing {
  font-family: "Oswald", sans-serif;
  background: linear-gradient(rgba(54, 15, 15, 0.59), black),
    url("https://media.istockphoto.com/id/1311994776/vector/abstract-technology-binary-code-dark-red-background-cyber-attack-ransomware-malware.jpg?s=612x612&w=0&k=20&c=ZmpIDPTtzV-nQNtD4rM-9TBgHzhFQvsKMG3j5I6R-qI=");
  background-repeat: no-repeat;
  background-size: cover;
}

#landing a {
  background-color: black;
}

span {
  color: #ff073a;
}

#tools {
  background-color: black;
}
#tools img {
  height: 100px;
  width: 100px;
}

#footer {
  background-color: black;
}

#footer img {
  height: 30px;
  width: 30px;
}

button {
  background-color: black;
}
